@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";
:root{
  --color-green: #50fa7b; /*Variável no css*/
  --color-orange: #fd951f;
  -color-purple: #7159c1;
}
* {
  margin: 0;
  border:0;
  padding:0;
}
body{
background: url(https://skylab.rocketseat.com.br/static/media/MountainsOpacity.a4edba24.png) 0% 0% / cover fixed, rgb(11,10, 13);
font-family: 'Source Sans Pro', sans-serif;
background-origin: initial, initial;
background-clip: initial, initial;
background-color: rgb(20, 12, 37);
font-family: 'Roboto', sans-serif;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgb(0, 0, 0,0.1);
}
.links{
  text-align: center;
}
.links a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  margin: 0 18px;
}
.links a:hover{
  color: var(--color-green);
  transition: color 300ms;
  
}
#perfil{
  color: white;
  text-align: center;
  padding: 32px;
  margin-left: 20px;
}
#perfil img{
  border-radius: 50%;
  border:2.5px solid var(--color-purple);
  margin-bottom: 32px;
  height: 300px;
  align-items: center;
}
#perfil h1{
  font-size: 42px;
  line-height: 52px;
  font-family: bold;
  opacity: 0.90;
  text-align: center;
  
}
#perfil h2{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
}
#perfil p{
  max-width: 460px;
  margin: 10px auto;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
.footer-links a{
  text-decoration: underline;
}
.footer-links { 
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  border-top: 1px solid #333;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
}
.footer-links img{
  height: 30px;
  text-align: center;
}
.footer-links #sociais{
  color: white;
}

.footer-links img:hover{
  transform: rotate(45deg);
  transition: 500ms;
}
